.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
body{
    background-image: linear-gradient(rgb(197, 176, 176),rgb(163, 30, 196));
    height: 100vh;
}

.container{
    max-width: 955px;
   border:2px solid black;
    margin:auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 20px;
}
.message
{
    background-color: rgb(204, 195, 195);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}
.left{
    float:left;
    clear: both;
}
.right{
    float:right;
    clear: both;
}
#send-container{
    text-align: center;
    max-width: 985px;
    width: 100px;
    display: block;
    margin: auto;
}
#messageInp{
    width: 92%;
    border:2px solid black;
    border-radius: 6px;
    height: 34px;

}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
